.TaskForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group textarea {
  height: 100px;
}

.input-group input,
.input-group textarea,
.input-group select {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.Date-Pri {
  display: flex;
  justify-content: space-between;
}


.Date-Pri .priority {
  flex: 1;
  margin-left: 10px;
}

.Date-Pri .dueDate {
  flex: 1;
}

.Date-Pri .input-group select{
  flex: 1;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
  outline: none;
  border-color: #333;
}

.TaskForm button[type='submit'] {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008000;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.TaskForm button[type='submit']:hover {
  background-color: #555;
}