.TaskItem button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1.2rem;
  }
  
  .TaskItem button.edit {
    margin-right: 10px;
  }
  
  .TaskItem button.edit:hover {
    background-color: #ddd;
  }
  
  .TaskItem button.delete {
    background-color: #f44336;
    border-color: #f44336;
    color: #fff;
  }
  
  .TaskItem button.delete:hover {
    background-color: #d32f2f;
    border-color: #d32f2f;
  }
  
  .TaskItem.completed {
    opacity: 0.5;
  }
  
  .TaskItem.completed h3 {
    text-decoration: line-through;
  }
  
  .TaskItem.completed p {
    text-decoration: line-through;
  }