.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 80%;
  max-width: 400px;
}

.list-container {
  width: 80%;
  max-width: 700px;
}

.search-container {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    
  }

.bulk-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.bulk-actions button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #333;
}

.bulk-actions button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}